<header class="nav-container">
	<div id="nav-top">
		<%= link_to 'HOME', root_path, :class => "nav-link nav-top-link"%>
		<%= link_to 'ABOUT', welcome_about_path, :class => "nav-link nav-top-link"%>
		<%= link_to 'CONTACT', contacts_path, :class => "nav-link nav-top-link"%>
	</div>
</header>
<sidebar class="sideItem-container">
	<div class="sideItem-in">
		<%= link_to 'HOME', root_path, :class => "nav-link nav-side-link"%>
		<%= link_to 'ABOUT', welcome_about_path, :class => "nav-link nav-side-link"%>
		<%= link_to 'CONTACT', contacts_path, :class => "nav-link nav-side-link"%>
	</div>
</sidebar>
