<div class="contact-header-container">
	<div class="contact-form-container">
		<div class="container">
			<h1>Contact</h1>
			<%= bootstrap_form_for @contact, html: { class: 'form-group' }, url: new_contact_path do |f| %>
				<%= f.text_field :name, required: true %>
				<%= f.email_field :email, required: true %>
				<%= f.text_field :message, as: :text, required: false, input_html: { rows: 5 }, hint: 'Max 2000 characters' %>

				<div class="form-actions">
					<%= f.submit 'Send message', class: 'btn btn-primary' %>
				</div>
			<% end %>
			<% if flash[:notice].present? %>
		      <div class="alert alert-success">
		        <%= flash[:notice] %>
		      </div>
		    <% end %>
		</div>
	</div>
</div>