<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= display_meta_tags site: 'Portfolio: Philip Fraser' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <div class="grid-wrapper">
    	<%= render 'welcome/navbar' %>
      <%= yield %>
    </div>
  </body>
</html>
